@model IEnumerable<WebCowApp.Models.BreedVM>

@{
    ViewBag.Title = "Cows";
}

<h2>Cows</h2>

<div class="form-group form-inline">
    <label class="control-label">Breed</label>
    @Html.DropDownList("Id", new SelectList(Model, "Id", "Name"), new { @class = "form-control", id = "breedDd" })
</div>

@* Will render the filtered cows partial view on breed drop down change *@
<div id="cowsTablePlaceholder" style="display:none">
</div>

@* Modal for milking details, will render the milking details for a certain cow *@
<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(function () {
            function renderCowsTable(breedId) {
                $.get('/Cows/CowsForBreed/' + breedId, function (cowsTable) {
                    $('#cowsTablePlaceholder').html(cowsTable);
                    $('#cowsTablePlaceholder').fadeIn('fast');
                });
            }

            $('#breedDd').on('change', function () {
                var selectedID = $(this).val();
                renderCowsTable(selectedID);
            });

            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
                $('#modal-container .modal-content').empty();
            });

            $('#breedDd').val(0);
            renderCowsTable(0);
        });
    </script>
}
