<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        h1 {
            font-size: 8rem;
        }
    </style>
</head>
<body>
    <hgroup>
        <h1>404 - PAGE NOT FOUND</h1>
    </hgroup>
</body>
</html>

